*{
margin: 0;
padding: o;
}
.cabecalho{background-color: rgb(216, 0, 0);
display: flex;
justify-content: space-around;
 padding: 24px 0;
}
.cabecalho-imagem
{
    width: 50%;
}

 li
 { 
 display: inline-block;
margin: 0 16px;
padding: 68px 0;
}
h1{}

.escola-imagem{
        width: 20%;
}
.escola{
    background-image: linear-gradient(rgb(216, 0, 0),black);
    color:rgb(235, 222, 222);
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
} 
.escola-conteudo
{width: 50%  }

    .escola-titulo
    {padding: 50px 30px;}

    .aluno-um {
        width: 10%;
    }
    .estudante-icone
    {width: 24px;}

    .estudante-div{
        text-align: center;
    }

